<h1>ログイン</h1>

<%= form_with url: login_path, local: true do |f| %>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "ログイン", class: "btn btn-login" %>
  </div>
<% end %>

<%= link_to "ゲストログイン", guest_login_path, class: "btn btn-secondary" %>
